<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a routerLink="/Home">Solve My Math</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul >
        <li><a class="" routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/About" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
        <li><a routerLink="/Courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Courses</a></li>
        <li><a routerLink="/Trainers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Trainers</a></li> 
        <li><a routerLink="/Contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a routerLink="/Get-started" class="get-started-btn">Get Started</a>


  </div>
</header><!-- End Header -->
