<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>{{footer.logo}}</h3>
            <p>
              {{footer.street}}<br>
              {{footer.state}}<br>
              {{footer.country}}<br><br>
              <strong>{{footer.phone}}</strong>{{footer.number}}<br>
              <strong>{{footer.email}}</strong>{{footer.emailAddress}}<br>
            </p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{{footer.usefulLinks}}</h4>
            <ul>
              <li *ngFor="let link of footer.links"><i class="bx {{link.linkIcon}}"></i> <a routerLink="{{link.pathLink}}">{{link.path}}</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{footer.serviceLinks}}</h4>
            <ul>
              <li *ngFor="let service of footer.services"><i class="bx {{service.linkIcon}}"></i> <a href="{{service.pathLink}}">{{service.topic}}</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{{footer.newsletter}}</h4>
            <p>{{footer.subscribe}}</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container d-md-flex py-4">
  
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          {{footer.copyright}}<strong><span>Solve My Math</span></strong>.{{footer.copyrightText}}
        </div>
        <div class="credits">
          {{footer.credit}}<a href="{{footer.creditLink}}">{{footer.creditLinkText}}</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a *ngFor="let footerLink of footer.footerLinks" href="{{footerLink.pathLink}}" class="twitter"><i class="bx {{footerLink.linkIcon}}"></i></a>
        <!-- <a href="https://github.com/Kayode-Lateef" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/kayode-o-90993987/" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
    </div>
  </footer><!-- End Footer -->
