   <!-- ======= Why Us Section ======= -->
   <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Mentor?</h3>
            <p>
            Solve My Math is an assignment help service for students. 
            We strictly believe in quality and not quantity. 
            We, thus, provide online assignment writing to our students from our team of professionals who boast of degrees.
            </p>
            <div class="text-center">
              <a href="about.php" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <!-- <i class="bx bx-receipt"></i> -->
                  <i class="ri-file-copy-line"></i>
                  <h4>Unmatched Quality</h4>
                  <p>At Solve My Assignment, quality is paramount. Our assignment helpers go above and beyond to ensure it never gets diluted.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <!-- <i class="bx bx-cube-alt"></i> -->
                  <i class="ri-question-answer-line"></i>
                  <h4>Post a Question</h4>
                  <p>Ask all types of questions big or small from basic math to complex math.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <!-- <i class="bx bx-images"></i> -->
                  <i class="ri-file-copy-line"></i>
                  <h4>Zero Plagiarism</h4>
                  <p>Because copying content is punishable, so each assignment we write undergoes rigorous scrutiny to ensure zero plagiarism.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->
